* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
.navigation {
  width: 1110px;
  margin: 0 auto;
}
.slider_title,
.slider_paragraph {
  width: 1110px;
  margin: 0 auto;
  color: #fff;
}
.logotype {
  display: inline-block;
  font-size: 30px;
  line-height: 32px;
  color: #555252;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}
.logotype::first-letter {
  font-weight: 900;
  color: #1abc9c;
}
.navigation {
  padding-top: 34px;
  padding-bottom: 34px;
}
.navigation-list {
  float: right;
  text-transform: uppercase;
  padding: 9px 0 0 0;
}

.navigation-item {
  float: left;
  padding: 0;
  margin: 0;
}
.navigation-item:not(:last-child) {
  margin-right: 30px;
}
.navigation-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.6px;
}
.navigation-link {
  color: #0f0101;
}
.navigation-link:hover {
  color: #1abc9c;
}
.slider {
  position: relative;
}

.slider_img::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.52);
}
.slider_block {
  width: 1110px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img_item {
  width: 100%;
  height: auto;
  display: block;
}
.pointer {
  position: absolute;
  display: inline-block;
  border: none;
  width: 104px;
  height: 104px;
  background-color: rgba(26, 188, 156, 0.65);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
}

.pointer:hover {
  border: none;
  background-color: rgb(78, 198, 171);
}
.left {
  background-image: url(/img/icon/left.svg);
  left: 0;
}
.right {
  background-image: url(/img/icon/right.svg);
  right: 0;
}
.slider_cont {
  width: 770px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider_title {
  font-size: 60px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 34px;
}
.slider_paragraph {
  color: #fff;
  font-size: 24px;
}
.NEW_COLLECTION {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #e9f0fd;
}
.Collection_header {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
  color: #515151;
}
.Collection_header:after {
  content: "";
  display: block;
  margin: 32px auto 80px;
  width: 163px;
  height: 7px;
  background-color: #1abc9c;
}
.production {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
}
.img_production {
  float: left;
  width: 255px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
}

.img_production img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card_title_box {
  padding-left: 15px;
  background-color: #323232;
  line-height: 42px;
}
.card_title {
  float: left;
}
.card_title a {
  display: block;
  height: 100%;
  color: #fff;
}

.price {
  float: right;
  width: 54px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.44);
}
.img_production:hover .card_title_box {
  background-color: #1abc9c;
}

.img_item {
  position: relative;
}
.img_production:hover .img_next {
  opacity: 1;
}
.img_next {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-clip: padding-box;
  border: 10px solid rgba(255, 255, 255, 0.55);
  background-color: rgba(0, 0, 0, 0.55);
}
.button_box {
  width: 166px;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  float: left;
  width: 50px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.icon:not(:nth-last-of-type(-n + 2)) {
  margin-right: 8px;
}
.icon:hover {
  background-color: #1abc9c;
}
.cart {
  margin-top: 8px;
  width: 100%;
  background-color: #323232;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding-left: 60px;
}
.img_production:not(:last-child) {
  margin-right: 30px;
}
.like {
  background-image: url(/img/icon/like.svg);
}
.moving {
  background-image: url(/img/icon/shuffle.png);
}
.clock {
  background-image: url(/img/icon/clock.svg);
}
.cart {
  background-image: url(/img/icon/cart.svg);
  background-position: 10% 50%;
}
footer {
  background-color: #323232;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
}

footer a {
  color: #46bfa9;
}

